body {
  max-width: 100vw;
  font-family: "Manrope", serif;
  background: url(../../images/bg-pattern.svg) no-repeat;
  background-size: auto;
  font-size: 15px;
  background-color: hsl(230, 100%, 99%);
}
.header {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  background: url("../../images/pattern-circles.svg") no-repeat;
  background-position: top 65% center;
  background-size: auto 60%;
  box-sizing: border-box;
  padding-top: 10%;
}
.header__title {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}

.header__desc {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
  color: hsl(225, 20%, 60%);
}

.card {
  width: 85%;
  margin: auto auto 50px;
  background: hsl(0, 0%, 100%);
  box-sizing: border-box;
  padding: 10% 0% 3%;
  border-radius: 10px;
  box-shadow: 0px 13px 33px 3px rgba(133, 143, 173, 0.2);
}
.card__top {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
}
.card__page-view {
  grid-row: 1/2;
  font-weight: 700;
  color: hsl(225, 20%, 60%);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0px 0 30px;
  font-size: 1em;
}

.card__price-per-month {
  grid-row: 3/4;
  font-weight: 600;
  color: hsl(225, 20%, 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 0;
}
.card__price {
  font-weight: 800;
  font-size: 2.3rem;
  color: hsl(227, 35%, 25%);
}

.card__slider {
  grid-row: 2/3;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  height: 10px;
  background: hsl(224, 65%, 95%);
  margin: 20px auto;
}
.card__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: hsl(174, 86%, 45%);
  background-image: url(../../images/icon-slider.svg);
  background-size: 55% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0px 13px 23px 6px rgba(16, 213, 194, 0.3);
}

.card__slider::-webkit-slider-thumb:hover {
  background: #2aefdb;
  cursor: grab;
  background-image: url(../../images/icon-slider.svg);
  background-size: 55% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.card__slider:active::-webkit-slider-thumb {
  background: #0ca697;
  cursor: grabbing;
  background-image: url(../../images/icon-slider.svg);
  background-size: 55% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.card__slider::-moz-range-thumb {
  width: 45px;
  height: 45px;
  background: hsl(174, 86%, 45%);
  background-image: url(../../images/icon-slider.svg);
  background-size: 55% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 13px 23px 6px rgba(16, 213, 194, 0.3);
}

.card__slider::-moz-range-thumb:hover {
  background: #2aefdb;
  cursor: grab;
  background-image: url(../../images/icon-slider.svg);
  background-size: 55% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.card__slider:active::-moz-range-thumb {
  background: #0ca697;
  cursor: grabbing;
  background-image: url(../../images/icon-slider.svg);
  background-size: 55% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.card__toggle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto 50px;
}
.card__toggle-text {
  font-size: 0.9em;
  font-weight: 500;
  color: hsl(225, 20%, 60%);
  text-align: center;
}

.card__toggle {
  display: block;
  position: relative;
  width: 50px;
  height: 25px;
  background: hsl(223, 50%, 87%);
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}
.card__toggle:hover {
  cursor: pointer;
  background: hsl(174, 86%, 45%);
}

.card__toggle:has(> .card__toggle-checkbox:checked) > .card__toggle-circle {
  transform: translate(29.5px, -50%);
}

.card__toggle-checkbox {
  display: none;
}

.card__toggle-circle {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;
  inset: 50% 0px;
  transform: translate(4.5px, -50%);
  transition: all 0.2s ease-in-out;
}

.card__toggle-text-discount {
  font-size: 0.8em;
  font-weight: 600;
  color: hsl(15, 100%, 70%);
  background: hsl(14, 92%, 95%);
  padding: 8px 12px;
  border-radius: 20px;
}
.card__toggle-text-discount_hide {
  display: none;
}

.card__line {
  width: 100%;
  opacity: 0.5;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: rgba(205, 215, 238, 0.5);
}

.card__bottom {
  padding: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.card__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1em;
  color: hsl(225, 20%, 60%);
  font-weight: 500;
}
.card__feature-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card__feature-icon {
  width: auto;
  height: 10px;
}

.card__button {
  background: hsl(227, 35%, 25%);
  border: none;
  margin: auto;
  color: hsl(226, 100%, 87%);
  padding: 15px 50px;
  border-radius: 100px;
  font-family: "Manrope", serif;
}
.card__button:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.attribution {
  margin-bottom: 20px;
}
.attribution a {
  text-decoration: none;
}/*# sourceMappingURL=mobile.css.map */