@import "variables";

body {
  @at-root .header {
    padding: 0;
    margin: 3% 0;
    background-position: top 60% center;
    background-size: auto 70%;
  }

  @at-root .card {
    @at-root .card__toggle-section {
      @at-root .card__toggle-text-discount {
        padding: 5px 12px;

        @at-root &_hide {
          display: inline;
        }
      }
    }

    @at-root .card__bottom {
      flex-direction: row;
      justify-content: space-between;
      padding: 6% 0 3%;
      width: 80%;
      margin: auto;

      @at-root .card__features {
        align-items: start;
      }

      @at-root .card__button {
        margin: 0;
      }
    }
  }
}
